:root{
  --bg-color: #142129;
  --primary-text-color: #F7DAD9;
  --secondary-text-color: #0B7A75;
  --text-highlight-color: #957FEF;
}

body{
  background-color: #101314;
  width: 100vw;
}

.list{
  font-size: 10rem; /* 128px */
  line-height: 1.5  ;
}

.word{
  padding:0px;
  opacity: 50px;
  background-image: linear-gradient(to right, white,0px , transparent 70%);
}

.word:hover{
  color:white;
  background-image: linear-gradient(to right, white,20px , transparent 70%);
  background-position: 20%;
  transition: all .5s ease-in-out;
}

.letter{
  padding:20px;
  opacity: 50px;
  transition: all .2s cubic-bezier(.29,.91,.92,.11);
}

.letter:hover{
  color:white;
}

