@tailwind base;
@tailwind components;
@tailwind utilities;

.slideshow-wrapper{
  width: 24rem;
  margin: 25px auto;
  height: 24rem;
  position: relative;
  overflow: hidden;
  z-index:0;
}
.slideshow-wrapper img {
  margin:auto;
  display: block;
  position:absolute;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  z-index:0;
}

.button{
    cursor: pointer;
    display: block;
    z-index: 1;
}

.fade-out{  
    animation: fadeOut ease .5s forwards;
}

.fade-in{
    animation: fadeIn ease .5s ;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}