.particle{
    z-index: 0;
    pointer-events: none;
    position: absolute !important;
}

.toggle{
    position: fixed;
    z-index: 30;
    background: rgba(29, 149, 136, .8);
    bottom: 0;
    right: 0;
    margin: 0 .5rem .5rem 0;
    padding: 1rem;
    border-radius: 10px;
}

.toggle-checkbox{
    border: 0px;
    right:0;
}

.toggle-checkbox:checked {
    left: 0;
    border-color: #000;
  
}
.toggle-checkbox:checked + .toggle-label {
    background-color: #D1D5DB;
}