@tailwind base;
@tailwind components;
@tailwind utilities;

ul{
  margin:0;
  padding:0;
}

li {
  margin: 0;
  height: 100vh;
  font-size: 1.4rem;
  color: white;
  text-align: center;
  scroll-snap-align: start;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.main-window{
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.page1{
  overflow: hidden;
  margin: 0 50px 0 50px;
}

.page2{
  margin: 0 50px 0 50px;
}

.all-projects{
  max-height: 90%;
}

.project{
  border-radius: 0 0 10px 10px;
  position: relative;
  text-align: center;
  color: white;
}

.project-img{
  object-fit: cover;
  left:50%;
  width: 100%;
  max-height: 100%;
  border-radius: 0 0 10px 10px;
}

.project-desc{
  position: absolute;
  color: transparent;
  width: 100%;
  height: 100%;
  top: 50%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all .3s ease-in-out;
  background: rgba(0, 0, 0, 0);
  border-radius: 0 0 10px 10px;
}

.project-desc:hover{
  color: white;
  background: rgba(0, 0, 0, .7);
}

.link{
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 16px 0;
  margin: 0 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: color 0.1s, background-color 0.1s;
  color: #FFF;
  cursor: pointer;
}

.link:hover {
  color: #000;
}
.link:focus, .link:active {
  color: #FFF;
}

.link::before {
  content: '';
  display: block;
  position: absolute;
  top: 75%;
  height: 3px;
  width: 100%;
  background-color: #1D9588;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  transition: color 0.1s, -webkit-transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out;
  transition: color 0.1s, transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.link:active::before {
  background-color: #1D9588;
}

.link:hover::before,
.link:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}